{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "max-len": ["error", { "code": 100 }],
    "react/prop-types": ["warn"],
    "no-return-assign": ["off"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": true, "optionalDependencies": true, "peerDependencies": true }
    ]
  }
}
