@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --text: #000;
  --background: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
  background-color: var(--background);
  font-size: 16px;
  font-weight: 400;
  color: var(--text);
}
