@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --text: #000;
  --background: #ffffff;
  --primary: #7f00e0;
  --select: #ffbd03;
  --select-color: rgb(254, 254, 254);
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

::selection {
  background: var(--select);
  color: var(--select-color);
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
  background-color: var(--background);
  font-size: 16px;
  font-weight: 400;
  color: var(--text);

  .primary {
    color: var(--primary);
  }
}
